/nbproject/private/
/build/
/dist/
/src/ACC_v1/Reservationv1/build/
/src/ACC_v1/Reservationv1/nbproject/private/
/src/ACC_v1/ExtendedMath/build/
/src/ACC_v1/ExtendedMath/dist/
/src/ACC_v1/ExtendedMath/nbproject/private/
/src/ACC_v1/GeometryExtensionv1/nbproject/private/
/src/ACC_v1/Geometryv1/build/
/src/ACC_v1/Geometryv1/dist/
/src/ACC_v1/Geometryv1/nbproject/private/
/src/ACC_v1/Geometryv2/build/
/src/ACC_v1/Geometryv2/dist/
/src/ACC_v1/Geometryv2/nbproject/private/
/src/ACC_v1/Tilesv1/build/
/src/ACC_v1/Tilesv1/dist/
/src/ACC_v1/Tilesv1/nbproject/private/
/src/ACC_v1/VisualTilesv1/build/
/src/ACC_v1/VisualTilesv1/dist/
/src/ACC_v1/VisualTilesv1/nbproject/private/